@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;800&display=swap");

body {
  font-family: Barlow, sans-serif;
}

.graf {
  border: 1px solid #22333b;
  background-color: #aaa;
}

.backdrop {
  fill: #eaeaea;
}

.axis {
  font-size: 18px;
  shape-rendering: geometricPrecision;
}

.year {
  font-size: 200px;
  fill: #bedede;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: central;
}
